td{
    min-width: 20vw;
}

.long{
    min-width:25vw;
}

textarea{
    max-width: 10vw;
    max-height: 1.2em;
    resize: none;
}
label{
    padding-right: 2em;
}

#graph{
    width: 570px;
    height: 400px;
    border: 1px solid black;
}

#pout{
    border: 1px solid black;
    font-size: 2em;
}

#surfacePlot{
    max-width: 570px !important;
    min-width: 570px !important;
    min-height: 400px !important;
    max-height: 400px !important;
}