/*General Styling*/
body{
    min-width: 95%;
    margin-left: 2em !important;
	padding-top: 3em;
}

p,table,tr,td,div,textarea,h1,h2,button, li, ul,ol{
    font-family: trebuchet ms, verdana, arial, tahoma;
    font-style: normal;
    color: black;
    text-align: left;
}

button{
    text-align: center !important;
    margin-top: 1em;
}

textarea{
    max-width: 40%;
    max-height: 1.2em;
    resize: none;
    overflow: hidden;
}


.svg-container{
    width: 500px !important;
    height: 400px;
}

canvas{
    margin-left: 0vw;
    border: 1px solid black;
}

moo{
    padding-left: 5em;
    color: white;
}

#yoinkval{
    width: 200px;
}

#graphs{
    min-width: 90vw;
}

#game{
    margin-top: 10px;
}

#wgame{
    margin-top: 10px;
}

#touched{
    color: white;
    margin: 0px !important;
    padding: 0px !important;
}

#rules{
    display: none;
    background-color: #eee;
    z-index: 4;
    position: fixed;
    min-width: 40vw;
    max-width: 75vw;
    top: 5vh;
    left: 15vw;
    border: 2px solid black;
    border-radius: 10px;
    max-height: 35vw;
    overflow: auto;
    padding-left: 1em;
}

#downloads{
    display: none;
    background-color: #eee;
    z-index: 4;
    position: fixed;
    min-width: 40vw;
    max-width: 75vw;
    top: 5vh;
    left: 15vw;
    border: 2px solid black;
    border-radius: 10px;
    max-height: 35vw;
    overflow: auto;
    padding-left: 1em;
    padding-bottom: 1em;
}

#versionHist{
    display: none;
    background-color: #eee;
    z-index: 4;
    position: fixed;
    min-width: 40vw;
    max-width: 75vw;
    top: 5vh;
    left: 15vw;
    border: 2px solid black;
    border-radius: 10px;
    max-height: 35vw;
    overflow: auto;
    padding-left: 1em;
    padding-bottom: 1em;
}

#mainContainer{
    display: flex;
    flex-flow: column;
    z-index: 5;
    margin-left: 0.5em;
    margin-bottom: 0px;
}

#backdim{
    min-width: 200vw;
    min-height: 200vh;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: #666;
    opacity: 50%;
    z-index: 2;
    display: none;
}

#closeR{
    position: absolute;
	z-index: 3;
    background-color: rgb(200, 200, 200);
    width: 1em !important;
    height: 1em !important;
    font-size:2em;
    right: 0.5em;
    margin-top: 0.5em;
}

#closeD{
    position: absolute;
	z-index: 3;
    background-color: rgb(200, 200, 200);
    width: 1em !important;
    height: 1em !important;
    font-size:2em;
    right: 0.5em;
    margin-top: 0.5em;
}

#closeV{
    position: absolute;
	z-index: 3;
    background-color: rgb(200, 200, 200);
    width: 1em !important;
    height: 1em !important;
    font-size:2em;
    right: 0.5em;
    margin-top: 0.5em;
}

main table, main div{
    min-width: 90%;
}

ul{
    max-width: 90%;
}

footer{
    min-width: 100%;
    min-height: 2em;
}

h2{
    margin: 0;
}

#setout{
    width: 100%;
}

li.nostyle {
    list-style-type: none;
}

/*Screen adjusting*/

@media only screen and (min-width: 980px){
    textarea{
        max-width: 70%;
    }
    header{
        margin-top: 2.5em;
    }
    main{
        min-width: 50vw;
        max-width: 50vw;
        min-height: 35vh;
        top: 15vh;
        left: 25vw;
        max-height: 35vw;
        overflow: auto;
    }
    #rules{
        min-width: 50vw;
        max-width: 50vw;
        min-height: 35vh;
        top: 15vh;
        left: 25vw;
        max-height: 35vw;
        overflow: auto;
    }
}

@media only screen and (min-width: 1200px){
    #graphs{
        display: flex;
        flex-flow: row;
    }
}